
To setup the environment make sure you install Python3 on your system.

You can use this link: https://realpython.com/installing-python/

Once you have python up you can install the dependencies using the following commands:

sudo apt install python-pip3
pip3 install flask
pip3 install gensim
pip3 install spacy==2.2.0
pip3 install sklearn
pip3 install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
pip3 install pandas

NOTE: The given commands are for ubuntu. The commands may change depending on the OS.  Please ensure that you have the above packages installed.
